:root {
    /* Font variable */
    --font:'EB Garamond', serif;

    /* Colors variables */
    --black: #1F1F1F;
    --white: #ffffff;
    --gray: #60605C;
    /* Griffindor */
    --grif-primary: #AE0001;
    --grif-secondary: #EEBA30;
    --grif-accent: #671010;
    /* Slytherin */
    --sly-primary: #2A623D;
    --sly-secondary: #AAAAAA;
    --sly-accent: #265937;
    /* Hufflepuff */
    --huff-primary: #FFDB00;
    --huff-secondary: #60605C;
    /* Ravenclaw */
    --raven-primary: #222F5B;
    --raven-secondary: #1F1F1F;
}   

/* GLOBAL STYLES */

*, *::before, *::after {
    font-family: var(--font);
    box-sizing: border-box;
    color: var(--white);
}

html {
    font-size: 62.5%;
}
body {
    font-size: 2.4rem;
    background-color: var(--black);
}
h1, h2, h3, h4 {
    text-align: center;
}
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}

/* UTILITIES */
.container {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}
.sort-options {
    display: flex;
    justify-content: space-evenly;
}
.btn {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 2rem auto;
    text-decoration: none;
    cursor: pointer;
    transition: all 200ms ease;
}
.btn:active {
    transform: translateY(2px);
}
.btn-primary {
    background-color: var(--sly-accent);
    color: var(--white);
}
.btn-secondary {
    background-color: var(--sly-secondary);
    color: var(--black);
}

/* HEADER */
header {
    width: 100%;
}
header .navigation {
    text-align: center;
}
header .logo {
    max-width: 15rem;
    margin: 0 auto;
}

.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    padding: 2rem;
    width: 100%;
}
.navigation ul li a {
    transition: color 200ms ease;
}
.navigation ul li a:hover,
.navigation ul li a.active {
    color: var(--grif-secondary);
}

/* Media queries for header */
@media only screen and (min-width: 768px) {

    header .logo {
        margin: 0;
    }
    header .navigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navigation ul {
        width: fit-content;
    }

    .navigation ul li {
        width: fit-content;
        display: inline-block;
        padding: 2rem;
    }

    .navigation ul li a {
        font-size: 3rem;
    }
}

/*----- HOME SECTION STYLES ------*/

h1 {
    font-size: 3.5rem;
}

.music-container {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.music-container .play-btn {
    max-width: 8rem;
    cursor: pointer;
}
/* Form to order characters */
.order-characters {
    width: fit-content;
    display: block;
    margin: 0 auto 2rem auto;
}
.order-characters select,
.order-characters select option{
    color: var(--black);
}

@media only screen and (min-width: 768px) {
    h1 {
        font-size: 4.8rem;
    }
}

/* MAIN SECTION (CHARACTERS) */
.character {
    padding: 1rem 4rem;
    margin-bottom: 2rem;
}

.character.gryffindor {
    background-color: var(--grif-accent);
}
.character.slytherin {
    background-color: var(--sly-accent);
}
.character.ravenclaw {
    background-color: var(--raven-primary);
}
.character.hufflepuff {
    background-color: var(--huff-primary);
}
.character.hufflepuff h4,
.character.hufflepuff p,
.character.hufflepuff span {
    color: var(--black);
}
.character.no-house {
    background-color: var(--gray);
}
.character .img-container {
    margin: 0 auto;
    width: 16.3rem;
    height: 22.7rem;
    overflow: hidden;
}
.character .label {
    font-weight: bold;
}
.character .char-info p{
    font-size: 1.8rem;
}

/*Media queries for characters*/
@media only screen and (min-width: 768px) {
    #charactersContainer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }
}

/*---------------- GALLERY PAGE --------------- */
#picturesContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

#picturesContainer div {
    width: 100%;
}
#picturesContainer div img{
    width: 100%;
}

/* Media queries for gallery */
@media only screen and (min-width: 768px) {
    #picturesContainer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2rem;
    }
}